html {
    background-color: #FD0024;
    font-family: monospace;
    box-sizing: border-box;
}
img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    margin-left: 15px;
}
.linguagem {
    font-size: 20px;
    text-align: center;
}
h2 {
    text-align: center;
}
ul li {
    line-height: 20px
}

#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sobre-mim {
    background-color: white;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: justify;
    line-height: 20px
    
}
#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 5px solid black;
    margin-top: 50px;
}

#um-pouco-mais {
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
    
}

.fullCard {
    width: 233px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cardContent {
    padding: 10px;
}
.cardText {
    margin-bottom: 30px;
}

@media (min-width: 810px) {
    #apresentacao {
        flex-direction: row;
    }
    #cards {
        flex-direction: row;
    }
}
